.offer {
    background-color: $bd;
    margin-top: -1px;

    &__box-cotent {
        border-radius: 50px;
        border-top: 2px solid rgba(255, 255, 255, 0.1);
        border-left: 2px solid rgba(255, 255, 255, 0.1);
        border-right: 2px solid rgba(255, 255, 255, 0.1);

        background-color: #303030;
        overflow: hidden;
    }

    &__block1 {
        padding: 48px 24px 0 55px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }

    &__block2 {
        padding: 0 24px 0 55px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }

    &__block3 {
        padding: 0 24px 42px 55px;
    }
}

.block {
    @extend %block;

    @include media-width992 {
        flex-direction: column;
        padding: 40px 55px 20px;
    }

    @include media-width767 {
        padding: 20px 15px;
    }

    @include media-width570 {
        padding: 30px 15px;
    }
}