.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 96px;

    @include media-width767 {
        padding-bottom: 50px;
    }


    @include media-width767 {
        justify-content: center;
        gap: 30px;
    }

    &__box-main-info {
        text-align: center
    }

    &__title-info {
        @include adeptive-font(14, 18);
        line-height: 2;
        font-weight: 700;
        color: white;
    }

    &__text-info {
        font-family: $manrope;
        @include adeptive-font(14, 16);
        line-height: 1.7;
        color: white;
        max-width: 250px;
    }

    &__box-cnt {
        text-align: center;
    }

    &__cnt>a {
        font-family: $manrope;
        font-size: 16px;
        color: white;
    }
}