.number {
    &__box-cercles {
        position: relative;
        flex: 0 1 570px;

        @include media-width1200 {
            flex: 0 1 646px;
            max-width: 600px;
            margin: -170px 0px 0px -55%;
        }

        @include media-width992 {
            flex: 0 1 200px;
            max-width: 100%;
            margin: 0;

            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }
    }

    &__rotate-circle {
        position: absolute;
        border: 5px solid $violet-dark;
        border-radius: 50%;
        clip: rect(auto, auto, 30px, auto);

        animation: rotate-part-circle 7000s linear infinite alternate forwards;

        @keyframes rotate-part-circle {
            0% {
                transform: rotate(120deg);
            }

            100% {
                transform: rotate(36000deg);
            }
        }

        @include media-width992 {
            width: 203px !important;
            height: 203px !important;
        }
    }

    &__item-cercle {
        position: absolute;
        border: 2px dashed $light-gray;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include adeptive-font(28, 72);
        line-height: 1.15;
        color: $violet-dark;

        transition: transform 0.5s ease-in-out;

        &>span {
            @include adeptive-font(14, 18);
            font-weight: 600;
            color: white;
            text-align: center;
            line-height: 1.3;
        }

        @include media-width992 {
            position: static;

            transform: translate(0, 0) !important;
            width: 200px !important;
            height: 200px !important;
        }
    }
}

.item1 {
    transform: translate(45px, 170px);
    width: 300px;
    height: 300px;
}

.item2 {
    transform: translate(365px, 135px);
    width: 192px;
    height: 192px;
}

.item3 {
    transform: translate(330px, 405px);
    width: 240px;
    height: 240px;
}

.rotate-circle1 {
    width: 303px;
    height: 303px;
}

.rotate-circle2 {
    width: 195px;
    height: 195px;
}

.rotate-circle3 {
    width: 243px;
    height: 243px;
}