$nunito: 'Nunito Sans', sans-serif;
$manrope: 'Manrope', sans-serif;
$monserat: 'Montserrat', sans-serif;

$transition: all 0.3s ease;

$violet: #C399FF;
$violet-dark: #8224E3;
$light-gray: rgb(189, 189, 189);
$bd: #272726;