.secret {
    background: linear-gradient(rgb(70, 70, 70), rgb(37, 37, 37));

    &__container {
        @include container;
    }

    &__inner {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;

        @include media-width767 {
            flex-direction: column;
        }
    }

    &__box-panel {
        padding: 100px 0 20px;
        text-align: center;

        @include media-width1200 {
            padding: 50px 0 20px;
        }

        @include media-width767 {
            padding: 25px 0 20px;
        }
    }

    &__title {
        font-size: 5.2rem;
        font-weight: 700;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 80px;

        @include media-width992 {
            font-size: 4rem;
            margin-bottom: 50px;
        }

        @include media-width570 {
            font-size: 3.2rem;
            margin-bottom: 30px;
        }
    }

    &__panel-img img {
        width: 100%;
    }

    &__text {
        padding: 30px 0 0 0;
        font-size: 20px;
        text-transform: uppercase;
        color: #d1d1d1;
    }
}