.secret {
    &__text-right-left {
        display: none;

        @include media-width767 {
            display: block;
            margin-bottom: 30px;

            font-size: 70px;
            font-weight: 900;
            color: transparent;

            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #d1d1d1;
        }

        @include media-width570 {
            font-size: 48px;
        }
    }

    &__text-left {
        font-size: 280px;
        font-weight: 900;
        height: 102%;

        color: transparent;
        transform: rotate(180deg);
        writing-mode: vertical-lr;

        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #d1d1d1;

        @include media-width1200 {
            font-size: 200px;
            height: 73%;
        }

        @include media-width992 {
            font-size: 130px;
            height: 48%;
        }

        @include media-width767 {
            display: none;
        }
    }

    &__text-right {
        padding-top: 3px;
        font-size: 280px;
        font-weight: 900;

        color: transparent;
        writing-mode: vertical-lr;

        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #d1d1d1;

        @include media-width1200 {
            font-size: 200px;
        }

        @include media-width992 {
            font-size: 130px;
        }

        @include media-width767 {
            display: none;
        }
    }
}